@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #222222;
  --primary: #908274;
  --secondary: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #E5E5E5;
    --primary: #C8A27C;
    --secondary: #1A1A1A;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
